* {
    margin: .1rem;
    padding: .1rem;
    box-sizing: border-box;
    font-family: sans-serif, 'Times New Roman';
}

.nav-list {
    background: grey;
    box-shadow: 0rem 0rem .2rem darkgray;
    margin: 0;
    padding: 1rem 0;
    border-radius: .2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: large;
}

.nav-item a:hover {
    color: white;
    transition: all 200ms ease-in;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 4rem;
}